<div>
  <h1>
    Ejemplo de Directiva Espía del ciclo de vida de un componente
  </h1>
  <p>
    Mira la consola del navegador y encontrarás cómo cada vez que pasa por el ciclo de vida
    se ejecuta el código en la directiva lifecycle
  </p>
</div>
